
#footer{
    font-size: 2em;
    text-align: center;
    border-left: 1px SOLID #080808;
    border-top: 1px SOLID #080808;
    border-bottom: 1px SOLID #080808;
}

#footer .col-xs-4{
    border-right: 1px solid #080808;
    padding: 0.5em 0 0.5em 0;
}

.fa.rowIcon {
    font-size: 1.5em;
}

.red {
    color: #cc0000;
}

.blue {
    color: #00b3ee;
}